{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row bloc">
        <div class="annonce_vendeur col-xl-6 col-sm-6 col-12"  >
            <div class="annonce">
                <div class="titre_favoris row">
                    <h3 class="titre_annonce col" >{{annonce.titreAnnonce}}</h3>
                    <form action={{ path('secondLife_ajouter_aux_favoris_utilisateur',{'id':annonce.idAnnonce}) }} method='GET' class="bouton_droit col">
                        <button class="btn btn-outline-secondary btn-sm" type="submit" >Ajouter aux favoris </button>
                    </form>
                </div>
                
                <div class="images_annonce ">
                    {% for image in annonce.imagesAnnonce %}
                    <img src={{image.lienPhotoAnnonce}} alt="Image de l'annonce">
                    {% endfor %}
                </div>
                
                <div class="info_boutons row">
                    <div class="info_annonce column">
                        <h6>Categorie : {{annonce.categorie}}</h6>
                        <h6>Sous-categorie : {{annonce.sousCategorie}}</h6>
                        <h6>Marque : {{annonce.marque}}</h6>
                        <h6 class="prix_annonce">Prix : {{annonce.prixAnnonce}} Euros</h6>
                        <h6>Poids : {{annonce.poidsAnnonce}} Grammes</h6>
                        <h6>Etat : {{annonce.etatAnnonce}}</h6>
                        <div class="row">
                            <h6 class="col-2">Description :</h6>
                            <p class="col description"> {{annonce.descriptionAnnonce}}</p>
                        </div>
                        <h6>Date publication : {{annonce.datePubliAnnonce|date("m/d/Y - H:i:s")}}</h6>
                    </div>
                    
                    <div class="btns_annonce">
                        <form action={{ path('secondLife_afficher_annonce',{'id':annonce.idAnnonce}) }} method='GET' class="bouton">
                            <button class="btn btn-outline-secondary btn-sm" type="submit" >Contacter le vendeur </button>
                        </form>
                    </div>
                </div>
            </div>

            <a href={{ path('secondLife_afficher_utilisateur',{'id_personne':annonce.utilisateur.idPersonne}) }} class="link-dark bouton">
                <div class="vendeur panel" >
                    <h2>Informations du vendeur</h2>
                    <img src="../../../../{{annonce.utilisateur.lienImagePersonne}}" alt="profil du vendeur">
                    <h6 class="pseudo">Pseudo : {{annonce.utilisateur.pseudoUser}}</h6>
                    <h6 class="adresse">Localisation : {{annonce.utilisateur.adresseUser}}</h6>
                    <h6 class="nb_Annonces_publiees">Nombre d'annonces publiées : {{annonce.utilisateur.annonces|length}}</h6>
                    <h6 class="ancieneté">Inscrit depuis  {{annonce.utilisateur.dateInscriptionUser| date('M Y')}}</h6>
                </div>
            </a>
            
        </div>

        <div class="annonces_similaires col-xl-4 col-sm-6 col-12" >
            <h2 >Annonces similaires</h2>
            {% for annonce_ in annonces %}
                {% if not annonce_ is same as(annonce) and annonce_.etatAnnonce=='Disponible' %}
                <div class=" annonce col-md-4">
                    <div class="panel">
                        <div class="row espace_droit" >
                            <div class="images_annonce col">
                                <div class="panel bloc" >
                                    <div class="panel-body"><img src="https://placehold.it/130x130?text=IMG" class="img-responsive"
                                                alt="Image de l'annonce">
                                    </div>
                                </div>
                            </div>

                            <div class="info_annonce col">
                                <h6>{{annonce_.titreAnnonce}}</h6>
                                <h6>{{annonce_.categorie}}</h6>
                                <h6>{{annonce_.sousCategorie}}</h6>
                                <h6>{{annonce_.marque}}</h6>
                                <h6>{{annonce_.prixAnnonce}}</h6>
                                <h6>{{annonce_.datePubliAnnonce|date("m/d/Y")}}</h6>
                            </div>

                            <div class="btns_annonce col">
                                <form class="autres_infos" action={{ path('secondLife_afficher_annonce',{'id':annonce_.idAnnonce}) }} method='GET'>
                                    <button class="btn btn-outline-dark btn-sm" type="submit">Afficher </button>
                                </form>
                            
                                <form class="autres_infos" action={{ path('secondLife_afficher_annonce',{'id':annonce_.idAnnonce}) }} method='GET'>
                                    <button class="btn btn-outline-dark btn-sm" type="submit" >Contacter le vendeur </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>    
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-xl-2 col-sm-12 col-12" >
        <!--pub-->
            <div class="row sous_bloc" >
                <p class="pub col-xl-12 col-sm-3 col-3 " >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class=" pub col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>


{% endblock %}
