{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row" style="margin:1%">
        <div class="annonce_vendeur col-xl-6 col-sm-6 col-12"  >
            <div class="annonce">
                <div class="titre_favoris">
                    <h3 class="titre_annonce" >{{annonce.titreAnnonce}}</h3>
                    <form action={{ path('secondLife_ajouter_aux_favoris_utilisateur',{'id':annonce.idAnnonce}) }} method='GET' style=" text-align:right">
                        <button class="btn btn-outline-secondary btn-sm" type="submit" >Ajouter aux favoris </button>
                    </form>
                </div>
                
                <div class="images_annonce" style="margin:2%; text-align:center">
                    {% for image in annonce.imagesAnnonce %}
                    <img src={{image.lienPhotoAnnonce}} alt="Image de l'annonce">
                    {% endfor %}
                </div>
                
                <div class="info_boutons row" style="margin:2%; padding-bottom:1%">
                    <div class="info_annonce column" style="padding-bottom:3%; padding-top:3%">
                        <h6>Categorie : {{annonce.categorie}}</h6>
                        <h6>Sous-categorie : {{annonce.sousCategorie}}</h6>
                        <h6>Marque : {{annonce.marque}}</h6>
                        <h6 class="prix_annonce">Prix : {{annonce.prixAnnonce}} Euros</h6>
                        <h6>Poids : {{annonce.poidsAnnonce}} Grammes</h6>
                        <h6>Etat : {{annonce.etatAnnonce}}</h6>
                        <div class="row">
                            <h6 class="col">Description :</h6>
                            <p class="col" style="word-wrap : break-word"> {{annonce.descriptionAnnonce}}</p>
                        </div>
                        <h6>Date publication : {{annonce.datePubliAnnonce|date("m/d/Y - H:i:s")}}</h6>
                    </div>
                    
                    <div class="btns_annonce">
                        <form action={{ path('secondLife_afficher_annonce',{'id':annonce.idAnnonce}) }} method='GET' style="text-align:center">
                            <button class="btn btn-outline-secondary btn-sm" type="submit" >Contacter le vendeur </button>
                        </form>
                    </div>
                </div>
            </div>

            <a href={{ path('secondLife_afficher_utilisateur',{'id_personne':annonce.utilisateur.idPersonne}) }} class="link-dark" style="text-align:center">
                <div class="vendeur panel "style="border: 1px solid grey; padding:1%" >
                    <h2 style="padding-bottom:1%">Informations du vendeur</h2>
                    <h6 class="pseudo">Pseudo : {{annonce.utilisateur.pseudoUser}}</h6>
                    <h6 class="adresse">Localisation : {{annonce.utilisateur.adresseUser}}</h6>
                    <h6 class="nb_Annonces_publiees">Nombre d'annonces publiées : {{annonce.utilisateur.annonces|length}}</h6>
                    <h6 class="ancieneté">Inscrit depuis  {{annonce.utilisateur.dateInscriptionUser| date('M Y')}}</h6>
                </div>
            </a>
            
        </div>

        <div class="annonces_similaires col-xl-4 col-sm-6 col-12" >
            <h2 style="padding-bottom:0.5%">Annonces similaires</h2>
            {% for annonce_ in annonces %}
                {% if not annonce_ is same as(annonce) and annonce_.etatAnnonce=='Disponible' %}
                <div class=" annonce col-md-4">
                    <div class="panel" style="border: 1px solid grey">
                        <div class="row" style="margin-right: 2px">
                            <div class="images_annonce column">
                                <div class="panel" style="margin: 1px">
                                    <div class="panel-body"><img src="https://placehold.it/130x130?text=IMG" class="img-responsive"
                                                alt="Image">
                                    </div>
                                </div>
                            </div>

                            <div class="info_annonce column" style="margin-top: 3px">
                                <h6>{{annonce_.titreAnnonce}}</h6>
                                <h6>{{annonce_.categorie}}</h6>
                                <h6>{{annonce_.sousCategorie}}</h6>
                                <h6>{{annonce_.marque}}</h6>
                                <h6>{{annonce_.prixAnnonce}}</h6>
                                <h6>{{annonce_.datePubliAnnonce|date("m/d/Y")}}</h6>
                            </div>

                            <div class="btns_annonce column" style="margin-top: 20px">
                                <form action={{ path('secondLife_afficher_annonce',{'id':annonce_.idAnnonce}) }} method='GET'>
                                    <button class="btn btn-outline-dark btn-sm" type="submit" style="width: 100%">Afficher </button>
                                </form>
                            
                                <form action={{ path('secondLife_afficher_annonce',{'id':annonce_.idAnnonce}) }} method='GET'>
                                    <button class="btn btn-outline-dark btn-sm" type="submit"  style="width: 100%">Contacter le vendeur </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>    
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-xl-2 col-sm-12 col-12" >
        <!--pub-->
            <div class="row" style="padding:1%">
                <p class="col-xl-12 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>


{% endblock %}
