{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
   <div class="row">
        <div class="col col-xl-5 col-sm-12 col-12 bloc">
            <div  class="sous_bloc">
                {{form_start(form)}}
                {{form_errors(form)}}

                <h1>
                    {% if etat %} Modifier une annonce
                    {% else %} Créer une annonce
                    {% endif %}
                </h1>
                    <div class="row titre espace_bas" >
                        {{form_label(form.titre_annonce,'Titre de l\'annonce',{'label_attr':{'class':"col-4  form-label col-form-label-sm"}})}}
                        {{form_errors(form.titre_annonce)}}
                        {{form_widget(form.titre_annonce,{'attr':{'class':"col form-control form-text bg-light"}})}}
                    </div>

                    <div class="row categorie_objet espace_bas" >
                        {{form_label(form.categorie,'Catégorie',{'label_attr':{'class':"col-4 form-label col-form-label-sm"}})}}
                        {{form_errors(form.categorie)}}
                        {{form_widget(form.categorie,{'attr':{'class':"col form-control form-select form-select-sm bg-light"}})}}
                    </div>

                    <div class="row sous_categorie_objet" >
                        {{form_label(form.sous_categorie,'Sous-Catégorie ',{'label_attr':{'class':"col-4 form-label col-form-label-sm"}})}}
                        {{form_errors(form.sous_categorie)}}
                        {{form_widget(form.sous_categorie,{'attr':{'class':"col form-control form-select form-select-sm bg-light"}})}}
                    </div>

                    <div class="row prix espace_bas" >
                        {{form_label(form.prix_annonce,'Prix ',{'label_attr':{'class':"col-4 form-label col-form-label-sm"}})}}
                        {{form_errors(form.prix_annonce)}}
                        {{form_widget(form.prix_annonce,{'attr':{'class':"col form-control form-text bg-light"}})}}
                        <p class="col-1 espace_haut"> €</p>
                    </div>
                    
                    <div class="row marque_objet">
                        {{form_label(form.marque,'Marque',{'label_attr':{'class':"col-4 form-label col-form-label-sm"}})}}
                        {{form_errors(form.marque)}}
                        {{form_widget(form.marque,{'attr':{'class':"col form-control form-select form-select-sm bg-light"}})}}
                    
                    </div>

                    <div class="row poids espace_bas">
                        {{form_label(form.poids_annonce,'Poids ',{'label_attr':{'class':"col-4 form-label col-form-label-sm"}})}}
                        {{form_errors(form.poids_annonce)}}
                        {{form_widget(form.poids_annonce,{'attr':{'class':"col form-control form-text bg-light"}})}}
                        <p class="col-1 espace_haut"> g</p>
                    </div>

                    <div class="row description espace_bas"  >
                        {{form_label(form.description_annonce,'Description ',{'label_attr':{'class':"col-4 form-label col-form-label-sm"}})}}
                        {{form_errors(form.description_annonce)}}
                        {{form_widget(form.description_annonce,{'attr':{'class':"col form-control form-text bg-light", 'rows':"10",'cols':"50"}})}}
                    </div>

                    <div class="row image_objet espace_bas espace_haut">
                        {{form_label(form.images_annonce,'Images ',{'label_attr':{'class':"col-4 form-label col-form-label-sm"}})}}
                        {{form_errors(form.images_annonce)}}
                        {{form_widget(form.images_annonce,{'attr':{'class':"col"}})}}
                        
                        {% if app.request.attributes.get('_route') == 'secondLife_modifier_annonce' %}
                            <h2>Images</h2>
                            {% for image in annonce.imagesAnnonce %}
                                <div>
                                    <img src="{{ image.lienPhotoAnnonce }}" alt="image annonce" >
                                    <!--pas encore fonctionnel-->
                                    {#<a href="{{ path('secondLife_supprimer_image_annonce', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>#}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div class="bouton">
                        <button type="submit" class="btn btn-lg btn-outline-success haut_bouton" >
                        {% if etat %} Modifier l'annonce
                        {% else %} Créer l'annonce
                        {% endif %}
                        </button>
                    </div>
                    
                {{form_end(form)}}
            </div>
            {#
                <form style=" margin:2%; padding:1%">
                    <h1 style="padding-bottom:0.5%">{{ titre_page }}</h1>
                    <div class="row titre" style="padding-bottom:0.5%">
                        <label class="col-3  form-label col-form-label-sm">Titre Annonce :</label>
                        <input type="text" class="col form-control form-text bg-light" placeholder="Samsung S10 128Go Noir">
                    </div>

                    <div class="row categorie_objet"  style="padding-bottom:0.5%">
                        <label class="col-3 form-label col-form-label-sm">Catégorie :</label>
                            <select id="categorie" class="col form-control form-select form-select-sm bg-light" name="categorie">
                                <option value="telephonie">Téléphonie</option>
                                <option value="ordinateur">Ordinateur</option>
                                <option value="console">Console</option>
                                <option value="television">Télévision</option>
                            </select>
                    </div>

                    <div class="row sous_categorie_objet">
                        <label class="col-3 form-label col-form-label-sm">Sous Categorie :</label>
                            <select id="sous_categorie" class="col form-control form-select form-select-sm bg-light" name="sous_categorie">
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                    </div>

                    <div class="row ville">
                        <label class="col-3 form-label col-form-label-sm">Ville :</label>
                        <input type="text" class="col form-control form-text bg-light" placeholder="Limoges">
                    </div>

                    <div class="row prix"  style="padding-bottom:0.5%">
                        <label class="col-3 form-label col-form-label-sm">Prix :</label>
                        <input type="text" class="col form-control form-text bg-light" placeholder="100"> 
                        <p class="col-1" style="padding-top:1.2%"> Euros</p>
                    </div>

                    <div class="row marque_objet">
                        <label class="col-3 form-label col-form-label-sm">Marque :</label>
                        <select id="marque" class="col form-control form-select form-select-sm bg-light" name="marques">
                                <option value="samsung">Samsung</option>
                                <option value="apple">Apple</option>
                                <option value="huawei">Huawei</option>
                                <option value="sony">Sony</option>
                                <option value="acer">Acer</option>
                                <option value="asus">Asus</option>
                                <option value="msi">MSI</option>
                                <option value="xiaomi">Xiaomi</option>
                                <option value="toshiba">Toshiba</option>
                                <option value="philips">Philips</option>
                                <option value="dell">Dell</option>
                                <option value="hp">HP</option>
                                <option value="autres">Autres</option>
                            </select>
                    </div>

                    <div class="row description"  style="padding-bottom:0.5%">
                        <label class="col-3 form-label col-form-label-sm">Description :</label>
                        <textarea class="col form-control form-text bg-light" id="description" name="descrition" rows="10" cols="50">
            
                        </textarea>
                    </div>

                    <div class="row image_objet"  style="padding-bottom:0.5%">
                        <label class="col-3 form-label col-form-label-sm">Images :</label>
                        <input class="col" type="file" id="image" name="image">
                    </div>

                    <div style="text-align:center">
                        <button type="button" class="btn btn-lg btn-outline-success"  style="margin-top:3%">Crée l'Annonce</button>
                    </div>
                </form>
            #}
        </div>

        <div class="annonces col col-xl-4 col-sm-12 col-12 bloc">
            <!--annonces-->
            <h2 class="bloc espace_haut">{{titre}}</h2>
            <div class="resultats">
                {% for annonce in annonces %}
                    <a href={{path('secondLife_afficher_annonce',{'id':annonce.idAnnonce})}}>
                        <div class="annonce row" >
                            <a href={{path('secondLife_afficher_annonce',{'id':annonce.idAnnonce})}} class="link-dark"><h4 class="titre_annonce">{{annonce.titreAnnonce}}</h4></a>
                            
                            <div class="col image_annonce">
                                <img src={{annonce.imagesAnnonce.first()}} alt={{annonce.titreAnnonce}}>
                            </div>

                            <div class="col infos_annonce">
                                <span class="categorie_annonce">{{annonce.Categorie}}</span><br>
                                <span class="sous_categorie_annonce">{{annonce.SousCategorie}}</span><br>
                                <span class="date_publication_annonce">{{annonce.datePubliAnnonce|date('d/m/Y')}}</span>
                            </div>

                            <div class="col autres_infos_annonces">
                                <div class="autres_infos">
                                    <span class="prix_annonce" >{{annonce.prixAnnonce | number_format(0, '${.}', '${,}')}} €</span>
                                </div>
                                <form class="lien_ajouter_favoris autres_infos"   action={{ path('secondLife_ajouter_aux_favoris_utilisateur',{'id':annonce.idAnnonce}) }} method='POST'>
                                    <button class="btn btn-sm btn-outline-secondary" >Ajouter aux favoris</button>
                                </form>
                                <div class="bouton">
                                    <a href="" class="lien_contacter_vendeur"><button class="btn btn-sm btn-outline-secondary btn_contacter_vendeur" >Contacter le vendeur</button></a>
                                </div>
                            </div>
                        </div>
                    </a>  
                {% endfor %}
            </div>
        </div>
        <div class=" col col-xl-2 col-sm-12 col-12 bloc" >
            <!--pub-->
            <div class="row sous_bloc" >
                <p class="col-xl-12 col-sm-3 col-3 pub" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
