{% extends 'base_admin.html.twig' %}


{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <h1>{{titre_page}}</h1>
    <div style="text-align : right;margin-bottom : 10px">
    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_creer_marque') }}">Créer/Ajouter une marque</a>
    </div>

    <table class="table table-striped" style="border: 1px solid black">
        <thead class="thead-dark">
            <tr>
                <th>Nom_marque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.nomMarque }}</td>
                <td>
                <div style="margin-bottom:5px">
                    <a class="btn btn-sm btn-outline-secondary " href="{{ path('secondLife_admin_afficher_annonces_de_la_marque', {'id': marque.id}) }}">Afficher les annonces  {{marque.nomMarque}}</a>
                </div>
                   <div style="margin-bottom:5px">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('secondLife_admin_modifier_marque', {'id': marque.id}) }}">Modifier {{marque.nomMarque}}  </a>
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" style="margin-top:10%; text-align:center">Il n'y a aucune marque</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="text-align : right;margin-bottom : 10px">
    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_creer_marque') }}">Créer/Ajouter une marque</a>
    </div>
{% endblock %}
