{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-2 col-sm-4 col-12 index">
            {{form_start(form)}}
            {{form_errors(form)}}

            <h2 class="form-label col-form-label-lg">Trier par :</h2>
                {{form_errors(form.tri)}}
                {{form_widget(form.tri,{'attr':{'class':'col-12 form-control form-select form-select-sm bg-light'}})}}
            
            <h2 class="form-label col-form-label-lg">Filtrer par :</h2>
                {{form_label(form.q,"Mot clé :",{'label_attr':{'class':'form-label col-form-label-sm h'}})}}
                {{form_errors(form.q)}}
                {{form_widget(form.q,{'attr':{'class':'form-control form-text bg-light bloc'}})}}
                
                {{form_label(form.categories,"Catégories:",{'label_attr':{'class':'form-label col-form-label-sm sous_index'}})}}
                {{form_errors(form.categories)}}
                {{form_widget(form.categories,{'attr':{'class':'categorie form-control form-select form-select-sm bg-light bloc'}})}}

                {{form_label(form.sous_categories,"Sous-Catégories:",{'label_attr':{'class':'form-label col-form-label-sm sous_index'}})}}
                {{form_errors(form.sous_categories)}}
                {{form_widget(form.sous_categories,{'attr':{'class':'sous_categorie form-control form-select form-select-sm bg-light bloc'}})}}

                <div class="row bloc">
                    <label class="form-label col-form-label-sm sous_index prix">Prix :</label>
                    {{form_errors(form.prix_min)}}
                    {{form_widget(form.prix_min,{'attr':{'class':'col form-control form-text bg-light'}})}}

                    {{form_errors(form.prix_max)}}
                    {{form_widget(form.prix_max,{'attr':{'class':'col form-control form-text bg-light'}})}}
                </div>

                
                {{form_label(form.marques,"Marques :",{'label_attr':{'class':'form-label col-form-label-sm sous_index'}})}}
                {{form_errors(form.marques)}}
                {{form_widget(form.marques,{'attr':{'class':'form-control form-select form-select-sm bg-light bloc'}})}}

                <div class="recherche">
                    {{form_widget(form.save,{'label':'Rechercher', 'attr':{'class':'btn btn-lg btn-outline-success'}})}}
                </div>

            {{form_end(form)}}
           
        </div>
        
        <div class="col-xl-7 col-sm-7 col-12 bloc" >
            <!--annonces-->
            {% if annonces==null %}
            <h1 class="no_annonces">Pas d'annonces correspondantes</h1>
            {% else %}
                <p class="nb_annonces">{{nb_results}} résultats</p>
            {% endif %}

            <div class="tri-date btn btn-secondary">
                {{knp_pagination_sortable(annonces,'Date de publication','a.datePubliAnnonce')}}
            </div>
            <div class="tri-prix btn btn-secondary">
                {{knp_pagination_sortable(annonces,'Prix','a.prix_annonce')}}
            </div>
            
                
            <div class="resultats">
                {% for annonce in annonces %}
                    {# on affiche uniquement les annonces qui n'ont pas encore été vendues#}
                    {% if annonce.etatAnnonce== 'Disponible' %}
                    <a href={{path('secondLife_afficher_annonce',{'id':annonce.idAnnonce})}}>
                        <div class="annonce row">
                            <a href={{path('secondLife_afficher_annonce',{'id':annonce.idAnnonce})}} class="link-dark"><h4 class="titre_annonce">{{annonce.titreAnnonce}}</h4></a>
                            
                            <div class="col image_annonce">
                                <img src="../../../../{{annonce.imagesAnnonce.last()}}" alt={{annonce.titreAnnonce}}  width=100 height=100>
                            </div>

                            <div class="col infos_annonce">
                                <span class="categorie_annonce">{{annonce.Categorie}}</span><br>
                                <span class="sous_categorie_annonce">{{annonce.SousCategorie}}</span><br>
                                <span class="etat_annonce">{{annonce.etatAnnonce}}</span><br>
                                <span class="date_publication_annonce">{{annonce.datePubliAnnonce|date('d/m/Y')}}</span>
                            </div>

                            <div class="col autres_infos_annonces">
                                <div class="autres_infos">
                                    <span class="prix_annonce" >{{annonce.prixAnnonce | number_format(0, '.', ',')}} €</span>
                                </div>
                                <form class="lien_ajouter_favoris autres_infos" action={{ path('secondLife_ajouter_aux_favoris_utilisateur',{'id':annonce.idAnnonce}) }} method='POST'>
                                    <button class="btn btn-sm btn-outline-secondary">Ajouter aux favoris</button>
                                </form>
                                
                                <div class="autres_infos">
                                    <a href="" class="lien_contacter_vendeur btn btn-sm btn-outline-secondary"><button class="btn_contacter_vendeur">Contacter le vendeur</button></a>
                                </div>
                            </div>
                        </div>
                    </a>  
                    {% endif %}
                {% endfor %}
                <div class="pagination col-xl-7 col-sm-7 col-12 filtre-js-pagination">
                        {{knp_pagination_render(annonces)}}
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-sm-12 col-12 bloc" >
            <!--pub-->
            <div class="row sous_bloc">
                <p class="pub col-xl-12 col-sm-3 col-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}
