{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-2 col-sm-12 col-12 bloc">
            <!--pub-->
            <div class="row sous_bloc ">
                <p class="pub col-xl-12 col-sm-3 col-3" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
        <div class="col-xl-7 col-sm-12 col-12 bloc">
            <h1>{{ titre_page }}</h1>
            <div class="row bloc">
                <div class="col-sm-12 col-12" >
                {% for favoris in mes_favoris %}
                    <div class="favoris row">
                        <div class="col">
                            <img src="logo_site.png" class="img-thumbnail" alt="Image de l'annonce">
                        </div>
                        <div class="col">
                            <p>{{favoris.idAnnonce.titreAnnonce}}</p>
                            <p>{{favoris.idAnnonce.categorie}} </p>
                            <p>{{favoris.idAnnonce.sousCategorie}} </p>        
                            <p>{{favoris.idAnnonce.datePubliAnnonce|date('d/m/Y')}} </p>
                        </div>
                        <div class="col bouton">
                            <p class="prix_annonce">{{favoris.idAnnonce.prixAnnonce}} Euros</p>
                            <a class="btn"  href={{path('secondLife_messagerie')}} class="link-secondary"><button type="button" class="btn btn-sm btn-outline-secondary">Contacter le vendeur</button></a>
                            {{ include('favoris/_delete_form.html.twig') }}
                            
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-12 col-12 bloc">
            <!--pub-->
            <div class="row sous_bloc ">
                <p class="pub col-xl-12 col-sm-3 col-3" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="pub col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
    </div>
{% endblock %}
