{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-2 col-sm-12 col-12" style=" margin:1%">
            <!--pub-->
            <div class="row" style="padding:1%">
                <p class="col-xl-12 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
        <div class="col-xl-7 col-sm-12 col-12" style="margin:1%">
            <h1 style="padding-bottom:0.5%">{{ titre_page }}</h1>
            <div class="row" style="margin:1%">
                <div class="col-sm-12 col-12" >
                {% for favoris in mes_favoris %}
                    <div class="favoris row" style="border-style:solid; border-width:1px; border-color:#818D92; padding:3%; margin-bottom:5%">
                        <div class="col">
                            <img src="logo_site.png" class="img-thumbnail" alt="Image de l'annonce" style="width:100px; height:100px">
                        </div>
                        <div class="col">
                            <p>{{favoris.idAnnonce.titreAnnonce}}</p>
                            <p>{{favoris.idAnnonce.categorie}} </p>
                            <p>{{favoris.idAnnonce.sousCategorie}} </p>        
                            <p>{{favoris.idAnnonce.datePubliAnnonce|date('d/m/Y')}} </p>
                        </div>
                        <div class="col" style="text-align:center">
                            <p class="prix_annonce">{{favoris.idAnnonce.prixAnnonce}} Euros</p>
                            <a class="btn"  href={{path('secondLife_messagerie')}} class="link-secondary"><button type="button" class="btn btn-sm btn-outline-secondary">Contacter le vendeur</button></a>
                            {{ include('favoris/_delete_form.html.twig') }}
                            
                        </div>
                    </div>
                {% endfor %}
                </div>


            {#
                <div class="col-sm-6 col-12">
                    <div class="row">
                        <div class="col">
                            <img src="logo_site.png" class="img-thumbnail" alt="logo du site">
                        </div>
                        <div class="col">
                            <p>Titre annonce</p>
                            <p>Catégorie </p>
                            <p>Ref </p>
                            <p>Lieu/date </p>
                        </div>
                        <div class="col" style="text-align:center">
                            <p>Prix</p>
                            <a class="btn"  href={{path('secondLife_messagerie')}} class="link-secondary"><button type="button" class="btn btn-sm btn-outline-secondary">Contacter le vendeur</button></a>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Retirer des favoris</button>
                        </div>
                    </div>
                </div>
            #}
            </div>
        {#
            <div class="row" style="margin:1%">
                <div class="col-sm-6 col-12">
                    <div class="row">
                        <div class="col">
                            <img src="logo_site.png" class="img-thumbnail" alt="logo du site">
                        </div>
                        <div class="col">
                            <p>Titre annonce</p>
                            <p>Catégorie </p>
                            <p>Ref </p>
                            <p>Lieu/date </p>
                        </div>
                        <div class="col" style="text-align:center">
                            <p>Prix</p>
                            <a class="btn"  href={{path('secondLife_messagerie')}} class="link-secondary"><button type="button" class="btn btn-sm btn-outline-secondary">Contacter le vendeur</button></a>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Retirer des favoris</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="row">
                        <div class="col">
                            <img src="logo_site.png" class="img-thumbnail" alt="logo du site">
                        </div>
                        <div class="col">
                            <p>Titre annonce</p>
                            <p>Catégorie </p>
                            <p>Ref </p>
                            <p>Lieu/date </p>
                        </div>
                        <div class="col" style="text-align:center">
                            <p>Prix</p>
                            <a class="btn"  href={{path('secondLife_messagerie')}} class="link-secondary"><button type="button" class="btn btn-sm btn-outline-secondary">Contacter le vendeur</button></a>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Retirer des favoris</button>
                        </div>
                    </div>
                </div>
            </div>
        #}
        </div>
        <div class="col-xl-2 col-sm-12 col-12" style=" margin:1%">
            <!--pub-->
            <div class="row" style="padding:1%">
                <p class="col-xl-12 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                <p class="col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3" style="border-style:solid; border-width:1px; border-color:#818D92">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
