{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}

<style>
    .column {
        float: right;
        width: 32%;
        text-align: left;
    }
</style>

<h1>{{ titre_page }}</h1>
<div class="col-md-3">
    {#TRI#}
    <form>
        <label class="form-label col-form-label-sm">Tier par :</label>
        <select id="tri" class="form-control form-select form-select-sm" name="tri">
            <option value="prix_croissant">Prix Croissant</option>
            <option value="prix_decroissant">Prix Décroissant</option>
            <option value="plus_recent">Plus Récent</option>
            <option value="plus_ancien">Plus Ancien</option>
        </select>
        <br>
    </form>
</div>

<h3 class="nb_annonces">{{nb_annonces}} annonces</h3>

<div class="row">
    <div class="col-xl-2 col-sm-12 col-12 bloc">
        <!--pub-->
        <div class="row sous_bloc ">
            <p class="pub col-xl-12 col-sm-3 col-3">
                <br>
                <br>
                <br>
                <br>
                <br>
            </p>
            <p class="pub col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                <br>
                <br>
                <br>
                <br>
                <br>
            </p>
            <p class="pub col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
                <br>
                <br>
                <br>
                <br>
                <br>
            </p>
        </div>
    </div>
    <div class="col-xl-7 col-sm-12 col-12 bloc">
        <div class="row bloc">
            <div class="col-sm-12 col-12">
                {% for annonce in annonces %}
                <div class="row" style="border:1px solid">
                    <div class="panel col-sm-12 col-12">

                        <h6>{{annonce.titreAnnonce}}</h6>
                        <div class="btns_annonce column" style="margin-top: 20px">
                            <div style="margin-bottom:10px">
                                <form action={{ path('secondLife_admin_afficher_annonce',{'id':annonce.idAnnonce}) }}
                                    method='GET'>
                                    <button class="btn btn-outline-dark btn-sm" type="submit" formaction={{
                                        path('secondLife_admin_afficher_annonce',{'id':annonce.idAnnonce}) }}
                                        style="width: 100%">Afficher </button>
                                </form>
                            </div>

                            {% if not annonce.estValide %}
                            <div style="margin-bottom:10px">
                                <form action={{ path('secondLife_admin_valider_annonce',{'id':annonce.idAnnonce}) }}
                                    method='GET'>
                                    <button class="btn btn-outline-dark btn-sm" type="submit" formaction={{
                                        path('secondLife_admin_valider_annonce',{'id':annonce.idAnnonce}) }}
                                        style="width: 100%">Valider </button>
                                </form>
                            </div>
                            {% endif %}

                            {{ include('annonce/_delete_form.html.twig') }}

                        </div>

                        <div class="info_annonce column" style="margin-top: 3px">
                            <h6>{{annonce.categorie}}</h6>
                            <h6>{{annonce.sousCategorie}}</h6>
                            <h6>{{annonce.marque}}</h6>
                            <h6>Prix : {{annonce.prixAnnonce}}</h6>
                            <h6>Publié le {{annonce.datePubliAnnonce|date("m/d/Y")}}</h6>
                        </div>

                        <div class="images_annonce column">
                            <div class="panel" style="margin: 1px">
                                <div class="panel-body"><img src="../../../../{{annonce.imagesAnnonce.last()}}"
                                        class="img-responsive" alt="Image" width=150 height=150>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px"></div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-12 col-12 bloc">
    <!--pub-->
    <div class="row sous_bloc ">
        <p class="pub col-xl-12 col-sm-3 col-3">
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
        <p class="pub col-xl-12  offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
        <p class="pub col-xl-12 offset-xl-0  offset-sm-1 offset-1 col-sm-3 col-3">
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>
</div>

{% endblock %}