{% extends 'base.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <h1>{{ titre_page }}</h1>

    <div class="categories">
        {% for categorie_faq in categoriesFaq %}
            <h2>{{categorie_faq.nomCategorie}}</h2>
            <div class="rubriques" style="margin:1%">
            {% if categorie_faq.faqs==null %}
                <p class="no_faq">Pas de rubrique dans cette catégorie</p>
            {% else %}
            <div class="row" style="margin:1%">
                <div class="col">
                    <h3  style="padding-bottom:0.5%">Foire aux questions</h3>
                    {% for rubrique in categorie_faq.faqs %}
                        <div class="rubrique row">
                            <button class="titre_rubrique btn btn-sm btn-outline-secondary col-12 col-sm-4 col-xl-2" type="button" data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="false" aria-controls="q1" >{{rubrique.titreProbleme}}</button>
                            
                            <div class="detail_rubrique col-12 col-sm-8 col-xl-6 collapse" id="q1">
                                <div class="card card-body">
                                    <h3 class="titre_probleme"  style="padding-bottom:0.5%">{{rubrique.titreProbleme}}</h3>
                                
                                    <p class="description_probleme">{{rubrique.descriptionProbleme}}</p>
                                    <p class="date_probleme">{{rubrique.dateProbleme|date('d/m/Y')}}</p>
                                
                                {#
                                    <video class="lien_tutoriel" controls poster>
                                        <source src={{rubrique.lienTutoriel}} type="video/mp4">
                                        <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                        Voici <a href={{rubrique.lienTutoriel}}> un lien pour télécharger la vidéo</a>.
                                        </p>
                                    </video>
                                #}
                                </div>
                            </div>                            
                        </div> 
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="nous_contacter col-12 col-sm-12 col-xl-4">
        <form style=" margin:2%; padding:1%">
            <h3  style="padding-bottom:0.5%">Nous Contacter</h3>
            <p> vous n'avez pas trouvé de solution parmis celles proposées?<p>
            <input type="text" class="form-control form-text bg-light" placeholder="Nom : DUPOND">
            <input type="text" class="form-control form-text bg-light" placeholder="Prénom : Richard">
            <input type="email" class="form-control form-text bg-light" placeholder="Email : name@exemple.com">
            <input type="text" class="form-control form-text bg-light" placeholder="Sujet : Comment ajouter une annonce">
            <textarea class="col form-control form-text bg-light" id="message" name="message" rows="10" cols="50">
                
            </textarea>
            <div class="row image_objet">
                <label class="col-3 form-label col-form-label-lg" >Images :</label>
                <input class="col" type="file" id="image" name="image"  style="padding-top:2%">
            </div>
            <div style="text-align:center">
                <button type="button" class="btn btn-lg btn-outline-success" style="margin-top:3%">Envoyé</button>
            </div>
        </form>
    </div>

   {# <div class="rubriques" style="margin:1%">
    {% if rubriques==null %}
        <p class="no_faq">Pas de rubrique FAQ/Aide</p>
    {% endif %}
    <div class="row" style="margin:1%">
        <div class="col">
            <h3  style="padding-bottom:0.5%">Foire aux questions</h3>
            {% for rubrique in rubriques %}
                <div class="rubrique row">
                    <button class="titre_rubrique btn btn-sm btn-outline-secondary col-12 col-sm-4 col-xl-2" type="button" data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="false" aria-controls="q1" >{{rubrique.titreProbleme}}</button>
                    
                    <div class="detail_rubrique col-12 col-sm-8 col-xl-6 collapse" id="q1">
                        <div class="card card-body">
                            <h3 class="titre_probleme"  style="padding-bottom:0.5%">{{rubrique.titreProbleme}}</h3>
                        
                            <p class="description_probleme">{{rubrique.descriptionProbleme}}</p>
                        
                            <p class="solution_probleme">{{rubrique.solutionProbleme}}</p>
                        
                            <video class="lien_tutoriel" controls poster>
                                <source src={{rubrique.lienTutoriel}} type="video/mp4">
                                <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                 Voici <a href={{rubrique.lienTutoriel}}> un lien pour télécharger la vidéo</a>.
                                </p>
                            </video>
                        </div>
                    </div>
                    
                </div> 
            {% endfor %}
        </div>
        <div class="nous_contacter col-12 col-sm-12 col-xl-4">
            <form style=" margin:2%; padding:1%">
                <h3  style="padding-bottom:0.5%">Nous Contacter</h3>
                <p> vous n'avez pas trouvé de solution parmis celles proposées?<p>
                <input type="text" class="form-control form-text bg-light" placeholder="Nom : DUPOND">
                <input type="text" class="form-control form-text bg-light" placeholder="Prénom : Richard">
                <input type="email" class="form-control form-text bg-light" placeholder="Email : name@exemple.com">
                <input type="text" class="form-control form-text bg-light" placeholder="Sujet : Comment ajouter une annonce">
                <textarea class="col form-control form-text bg-light" id="message" name="message" rows="10" cols="50">
        
                </textarea>
                <div class="row image_objet">
                    <label class="col-3 form-label col-form-label-lg" >Images :</label>
                    <input class="col" type="file" id="image" name="image"  style="padding-top:2%">
                </div>
                <div style="text-align:center">
                    <button type="button" class="btn btn-lg btn-outline-success" style="margin-top:3%">Envoyé</button>
                </div>
            </form>
        </div>
    </div>
    #}
{% endblock %}
