{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <h1>{{ titre_page }}</h1>
    <div class="row">
        <h3 class="col-6 col-sm-9 col-xl-6" style="padding-bottom:0.5%" >Les rubriques</h3>
        <a href={{path('secondLife_admin_ajouter_faq')}} class="ajouter_rubrique col-xl-2 col-sm-3 col-6"><button class="btn_crud btn-sm btn-outline-success "  type="button">Ajouter une rubrique</button></a>
    </div>

    <div class="categories">
        {% for categorie_faq in categoriesFaq %}
            <h3>{{categorie_faq.nomCategorie}}</h2>
            <div class="rubriques" style="margin:1%">
            {% if categorie_faq.faqs %}
                <div class="row" style="margin:1%">
                    <div class="col">
                        {% for faq in categorie_faq.faqs %}
                            <div class="faq row">
                                <button class="titre_faq btn btn-sm btn-outline-secondary col-12 col-sm-4 col-xl-2" type="button" data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="false" aria-controls="q1" >{{faq.titreProbleme}}</button>
                                
                                <div class="detail_faq col-12 col-sm-8 col-xl-6 collapse" id="q1">
                                    <div class="card card-body">
                                        <h3 class="titre_probleme"  style="padding-bottom:0.5%">{{faq.titreProbleme}}</h3>
                                    
                                        <p class="description_probleme">{{faq.descriptionProbleme}}</p>
                                        <p class="date_probleme">{{faq.dateProbleme|date('d/m/Y')}}</p>

                                        <div class="btns_crud">
                                            <a href={{path('secondLife_admin_modifier_faq',{'id':faq.id})}} class="modifier_rubrique"><button class="btn_crud btn-sm btn-outline-success" type="button">Modifier la rubrique</button></a>
                                            {{ include('faq/_delete_form.html.twig') }}
                                        </div>
                                        {#<p class="solution_probleme">{{rubrique.solutionProbleme}}</p>#}
                                        {#
                                            <video class="lien_tutoriel" controls poster>
                                                <source src={{rubrique.lienTutoriel}} type="video/mp4">
                                                <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
                                                Voici <a href={{rubrique.lienTutoriel}}> un lien pour télécharger la vidéo</a>.
                                                </p>
                                            </video>
                                        #}
                                    </div>
                                </div>                            
                            </div> 
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p class="no_faq">Pas de rubrique dans cette catégorie</p>
            {% endif %}
            </div>
        {% endfor %}
    </div>
    
    
{% endblock %}
