{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <div class="row">
       <div class="publicites col-xl-2 col-sm-12 col-12" style="margin:1%; padding:1%; background-color:blue">
            <p>
                <br>
                <br>
                <br>
            </p>
        </div>

        <!--<a href="">-->
        <div class="options col-xl-7 col-sm-12 col-12" style="margin:1%; padding:2%">
            <a href={{path('secondLife_admin_gerer_annonces')}} class="link-dark">
                <div class="option " style="margin-bottom:2%; padding:2%; border-style:solid; border-width:1px; border-color:#818D92">
                    <h3 class="titre_option">Gestion des annonces</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href={{path('secondLife_admin_gerer_annonces')}} class="lien_choix link-secondary">Consulter la liste des annonces</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_annonces')}} class="lien_choix link-secondary">Afficher une annonce</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_annonces')}} class="lien_choix link-secondary">Valider une annonce </a></li> 
                        <li class="choix"><a href={{path('secondLife_admin_gerer_annonces')}} class="lien_choix link-secondary">Supprimer une annonce</a></li>
                    </ul>
                </div>
            </a>

            <a href={{path('secondLife_admin_gerer_utilisateurs')}} class="link-dark">
                <div class="option " style="margin-bottom:2%; padding:2%; border-style:solid; border-width:1px; border-color:#818D92">
                    <h3 class="titre_option">Gestion des comptes utilisateurs</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href={{path('secondLife_admin_gerer_utilisateurs')}} class="lien_choix link-secondary">Consulter la liste des comptes utilisateurs</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_utilisateurs')}} class="lien_choix link-secondary">Afficher un compte utilisateur</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_utilisateurs')}} class="lien_choix link-secondary">Contacter un utilisateur </a></li> 
                        <li class="choix"><a href={{path('secondLife_admin_gerer_utilisateurs')}} class="lien_choix link-secondary">Supprimer un compte utilisateur</a></li>
                    </ul>
                </div>
            </a>
            

            <a href={{path('secondLife_admin_gerer_categories')}} class="link-dark">
                <div class="option" style="margin-bottom:2%; padding:2%; border-style:solid; border-width:1px; border-color:#818D92">
                    <h3 class="titre_option">Gestions des categories et sous categories d'annonces</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href={{path('secondLife_admin_gerer_categories')}} class="lien_choix link-secondary">Consulter la liste des categories</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_categories')}} class="lien_choix link-secondary">Afficher une categorie et ses sous categories</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_creer_categorie')}} class="lien_choix link-secondary">Ajouter une categorie</a></li>  
                        <li class="choix"><a href={{path('secondLife_admin_gerer_categories')}} class="lien_choix link-secondary">Modifier une categorie (renommer une categorie,ajouter,supprimer, modifier une sous categorie</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_sous_categories')}} class="lien_choix link-secondary">Afficher toutes les sous-categories</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_categories')}}class="lien_choix link-secondary">Supprimer une categorie</a></li>
                    </ul>
                </div>
            </a>

             <a href={{path('secondLife_admin_gerer_marques')}} class="link-dark">
                <div class="option" style="margin-bottom:2%; padding:2%; border-style:solid; border-width:1px; border-color:#818D92">
                    <h3 class="titre_option">Gestions des marques</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href={{path('secondLife_admin_gerer_marques')}} class="lien_choix link-secondary">Consulter la liste des marques</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_marques')}} class="lien_choix link-secondary">Afficher les annonces d'une marque</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_creer_marque')}} class="lien_choix link-secondary">Ajouter une marque</a></li>  
                        <li class="choix"><a href={{path('secondLife_admin_gerer_marques')}} class="lien_choix link-secondary">Modifier une marque (renommer)</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_marques')}} class="lien_choix link-secondary">Supprimer une marque (si elle ne possede aucune annonce)</a></li>
                    </ul>
                </div>
            </a>

            <a href={{path('secondLife_admin_gerer_categoriesFaq')}} class="link-dark">
                <div class="option" style="margin-bottom:2%; padding:2%; border-style:solid; border-width:1px; border-color:#818D92">
                    <h3 class="titre_option">Gestions des catégories de la FAQ</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href={{path('secondLife_admin_gerer_categoriesFaq')}} class="lien_choix link-secondary">Consulter la liste des catégories FAQ</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_categoriesFaq')}} class="lien_choix link-secondary">Afficher les rubriques d'une categorie FAQ</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_creer_categorieFaq')}} class="lien_choix link-secondary">Ajouter une categorie de FAQ</a></li>  
                        <li class="choix"><a href={{path('secondLife_admin_gerer_categoriesFaq')}} class="lien_choix link-secondary">Modifier une categorie de FAQ</a></li>
                    </ul>
                </div>
            </a>

            <a href={{path('secondLife_admin_gerer_faq')}} class="link-dark">
                <div class="option" style="margin-bottom:2%; padding:2%; border-style:solid; border-width:1px; border-color:#818D92">
                    <h3 class="titre_option">Gestion de la FAQ</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href={{path('secondLife_admin_gerer_faq')}} class="lien_choix link-secondary">Consulter les rubriques de la FAQ</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_ajouter_faq')}} class="lien_choix link-secondary">Ajouter une rubrique à la FAQ</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_faq')}} class="lien_choix link-secondary">Modifier une rubrique de la FAQ</li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_faq')}} class="lien_choix link-secondary">Supprimer Une rubrique de la FAQ</li>
                    </ul>
                </div>
            </a>

            {#<a href="" class="link-dark">
                <div class="option" style="padding:2%; border-style:solid; border-width:1px; border-color:#818D92">
                    <h3 class="titre_option">Statistiques du site</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href="" class="lien_choix link-secondary">Nombre de membres</a></li>
                        <li class="choix"><a href="" class="lien_choix link-secondary">Nombre d'annonces depuis la création</a></li>
                        <li class="choix"><a href="" class="lien_choix link-secondary">Nombre d'annonces vendues depuis la création</a></li>
                        <li class="choix"><a href="" class="lien_choix link-secondary">Nombre de visites depuis la création</a></li>
                        <li class="choix"><a href="" class="lien_choix link-secondary">etc...</a></li>
                        
                    </ul>
                </div>
            </a>#}
            
        </div>
        

       <div class="publicites col-xl-2 col-sm-12 col-12" style="margin:1%; padding:1%; background-color:blue">
            <p>
                <br>
                <br>
                <br>
            </p>
        </div>
    </div>
{% endblock %}
