{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <h1>{{ titre_page }}</h1>
    <div class="conteneur">
        <div class="publicites">
        
        </div>

        <a href="">
<div class="options">
            <a href={{path('secondLife_admin_gerer_annonces')}}>
                <div class="option">
                    <h3 class="titre_option">Gestion des annonces</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href={{path('secondLife_admin_gerer_annonces')}} class="lien_choix">Consulter la liste des annonces</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_annonces')}} class="lien_choix">Afficher une annonce</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_annonces')}} class="lien_choix">Valider une annonce </a></li> 
                        <li class="choix"><a href={{path('secondLife_admin_gerer_annonces')}} class="lien_choix">Supprimer une annonce</a></li>
                    </ul>
                </div>
            </a>
            

            <a href="">
                <div class="option">
                    <h3 class="titre_option">Gestions des categories et sous categories d'annonces</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href="" class="lien_choix">Consulter la liste des categories</a></li>
                        <li class="choix"><a href="" class="lien_choix">Afficher une categorie et ses sous categories</a></li>
                        <li class="choix"><a href="" class="lien_choix">Ajouter une categorie</a></li>  
                        <li class="choix"><a href="" class="lien_choix">Modifier une categorie (renommer une categorie,ajouter,supprimer, modifier une sous categorie</a></li>
                        <li class="choix"><a href="" class="lien_choix">Supprimer une categorie</a></li>
                    </ul>
                </div>
            </a>
                
            <a href="">
                <div class="option">
                    <h3 class="titre_option">Gestion des comptes utilisateurs</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href="" class="lien_choix">Afficher un profil utilisateur</a></li>
                        <li class="choix"><a href="" class="lien_choix">Supprimer un compte</a></li>
                        <li class="choix"><a href="" class="lien_choix">Contacter un utilisateur</a></li>
                            
                    </ul>
                </div>
            </a>

            <a href={{path('secondLife_admin_gerer_faq')}}>
                <div class="option">
                    <h3 class="titre_option">Gestion de la FAQ</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href={{path('secondLife_admin_gerer_faq')}} class="lien_choix">Consulter les rubriques de la FAQ</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_ajouter_faq')}} class="lien_choix">Ajouter une rubrique à la FAQ</a></li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_faq')}} class="lien_choix">Modifier une rubrique de la FAQ</li>
                        <li class="choix"><a href={{path('secondLife_admin_gerer_faq')}} class="lien_choix">Supprimer Une rubrique de la FAQ</li>
                    </ul>
                </div>
            </a>

            <a href="">
                <div class="option">
                    <h3 class="titre_option">Statistiques du site</h3>
                    <ul class="liste_choix">
                        <li class="choix"><a href="" class="lien_choix">Nombre de membres</a></li>
                        <li class="choix"><a href="" class="lien_choix">Nombre d'annonces depuis la création</a></li>
                        <li class="choix"><a href="" class="lien_choix">Nombre d'annonces vendues depuis la création</a></li>
                        <li class="choix"><a href="" class="lien_choix">Nombre de visites depuis la création</a></li>
                        <li class="choix"><a href="" class="lien_choix">etc...</a></li>
                        
                    </ul>
                </div>
            </a>
            
        </div>
        

        <div class="publicites">

        </div>
    </div>
    
    

{% endblock %}
