{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_personne</th>
                <td>{{ utilisateur.idPersonne }}</td>
            </tr>
            <tr>
                <th>Nom_personne</th>
                <td>{{ utilisateur.nomPersonne }}</td>
            </tr>
            <tr>
                <th>Prenom_personne</th>
                <td>{{ utilisateur.prenomPersonne }}</td>
            </tr>
            <tr>
                <th>Mail_personne</th>
                <td>{{ utilisateur.mailPersonne }}</td>
            </tr>
            <tr>
                <th>Mdp_personne</th>
                <td>{{ utilisateur.mdpPersonne }}</td>
            </tr>
            <tr>
                <th>Lien_image_personne</th>
                <td>{{ utilisateur.lienImagePersonne }}</td>
            </tr>
            <tr>
                <th>Pseudo_user</th>
                <td>{{ utilisateur.pseudoUser }}</td>
            </tr>
            <tr>
                <th>Adresse_user</th>
                <td>{{ utilisateur.adresseUser }}</td>
            </tr>
            <tr>
                <th>Date_naiss_user</th>
                <td>{{ utilisateur.dateNaissUser ? utilisateur.dateNaissUser|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_inscription_user</th>
                <td>{{ utilisateur.dateInscriptionUser ? utilisateur.dateInscriptionUser|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}">back to list</a>

    <a href="{{ path('utilisateur_edit', {'id_personne': utilisateur.idPersonne}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
