{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <h1>{{titre_page}}</h1>

    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_creer_sous_categorie') }}">Créer une sous-catégorie</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom sous-categorie</th>
                <th>Nom categorie</th>  
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_categorie in sous_categories %}
            <tr>
                <td>{{ sous_categorie.nomSousCategorie }}</td>
                <td>{{ sous_categorie.categorie.nomCategorie }}</td>
                <td>
                    <a class="btn btn-sm btn-outline-secondary"  href="{{ path('secondLife_admin_afficher_annonces_par_sous_categorie', {'id': sous_categorie.id}) }}">Afficher les annonces de la sous-catégorie {{sous_categorie.nomSousCategorie}}({{sous_categorie.categorie.nomCategorie}})</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('secondLife_admin_modifier_sous_categorie', {'id': sous_categorie.id}) }}">Modifier la sous-categorie {{sous_categorie.nomSousCategorie}}({{sous_categorie.categorie.nomCategorie}})</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Il n\' y a pas de sous-categorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_creer_sous_categorie') }}">Créer une sous-catégorie</a>
{% endblock %}
