<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
       <!--<link rel="stylesheet" href="./assets/styles/style.css">-->
    </head>
    <body>
        <header class="row">
           
            <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
             <!--le logo-->
                <a href={{path('secondLife_accueil')}} class=" navbar-brand logo_site">
                    <img src="logo_site.jpg" class="img-thumbnail" alt="logo du site">
                </a>
                <!--la barre de recherche-->
                <form class="d-flex barre_recherche" action={{path('secondLife_barre_recherche') }} method="get">
                    <input type="search" name="barre_recherche" class="form-control zone_saisie" placeholder="mot clé">
                    <input type="submit" value="rechercher" class="btn btn-outline-success bouton_recherche">
                </form>
                <!--le menu-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="row navbar-nav menu">
                    
                        <li class="col nav-item page_creer_annonce"><a class="nav-link" href={{path('secondLife_creer_annonce')}}>créer une annonce</a></li>
                        <li class=" col nav-item page_faq"><a class="nav-link" href={{path('secondLife_faq')}}>FAQ/Aide</a></li>
                        <!-- il y aura une condition php qui testera si l'utilisateur est connecté ou pas
                        si non connecté,on affiche se connecter et les liens messagerie et favoris pointeront vers la page de connexion
                            <li class="col  nav-item page_favoris"><a class="nav-link" href={{path('secondLife_connexion')}}>Favoris</a></li>
                            <li class="col  nav-item page_messagerie"><a class="nav-link" href={{path('secondLife_connexion')}}>Messagerie</a></li>
                            <li class="col  nav-item page_compte_se_connecter"><a class="nav-link" href={{path('secondLife_connexion')}}>Creer un compte/Se connecter</a></li>
                        si connecté ,on affiche
                        -->
                        <li class="col  nav-item page_favoris"><a class="nav-link" href={{path('secondLife_favoris')}}>Favoris</a></li>
                        <li class="col  nav-item page_messagerie"><a class="nav-link" href={{path('secondLife_messagerie')}}>Messagerie</a></li>
                        <li class="col  nav-item page_compte_se_connecter"><a class="nav-link" href={{path('secondLife_mon_compte')}}>Compte/Se connecter</a></li>
                        <li class="col  nav-item page_deconnexion"><a class="nav-link" href={{path('secondLife_deconnexion')}}>Deconnexion</a></li>
                    <div>
                </ul>
            </nav>
        </header>

       <!--le contenu de chaque page--> 
        <div class="conteneur_principal">
            {% block body %}{% endblock %}
        </div>

        <footer class="row" style="background-color:black; color:white">
            <div class="col a_propos col-xl-3 col-sm-6 col-xs-6">
                <h3 class="titre_section_footer">A propos</h1>
                <span class="qui_sommes_nous"><a href={{path('secondLife_qui_sommes_nous')}}>Qui sommes-nous?</a></span>    
            </div>

            <div class="col reseaux_sociaux  col-xl-3 col-sm-6 col-xs-6">
                <h3 class="titre_section_footer">Reseaux sociaux</h1>
                <div>
                    <a href="https://www.facebook.com/" target="blank" class="facebook"><img src="logo_facebook.png" alt="logo_facebook"></a><br>
                    <a href="https://www.instagram.com" target="blank" class="instagram"><img src="logo_instagram.png" alt="logo_instagram"></a><br>
                    <a href="https://www.twitter.com" target="blank" class="twitter"><img src="logo_twitter.png" alt="logo_twitter"></a><br>
                    <a href="https://www.linkedin.com" target="blank" class="linkedin"><img src="logo_linkedin.png" alt="logo_linkedin"></a><br>
                 </div>
            </div>

            <div class="col informations_legales  col-xl-3 col-sm-6 col-xs-6">
                <h3 class="titre_section_footer">Informations légales</h1>
                <div>
                    <span class="mentions_legales"><a href={{path('secondLife_mentions_legales')}}>Mentions légales</a></span><br>     
                    <span class="conditions_generales_utilisation"><a href={{path('secondLife_conditions_generales_utilisation')}}>Conditions générales d'utilisation</a></span>
                </div>
            </div>

            <div class="col applications_mobiles  col-xl-3 col-sm-6 col-xs-6">
                <h3 class="titre_section_footer">Applications mobiles</h1>
                <div>
                    <a href="https://www.playstore.com" target="blank" class="lien_application"><img src="image_googleplay.png" alt="image_playstore"></a><br>
                    <a href="https://www.appstore.com" target="blank" class="lien_application"><img src="image_appstore.png" alt="image_appstore"></a>
                </div>
            </div>
        </footer>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>