<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
       
       <!--<link rel="stylesheet" href="./assets/styles/style.css">-->
    </head>
    <body class="container-fluid">
        <header class="row" style="text-align:center">

            <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
                <!--le logo-->

                <a href={{path('secondLife_accueil')}} class=" navbar-brand logo_site">
                    <img src="logo_site.jpg" class="img-thumbnail" alt="logo du site">
                </a>

                <!--la barre de recherche-->
                <form class="col-xl-5 d-flex barre_recherche col-xl-5" action={{path('secondLife_barre_recherche') }} method="get" style="padding-right:2%">
                    <input type="search" name="barre_recherche" class="form-control zone_saisie" placeholder="mot clé">
                    <input type="submit" value="rechercher" class="btn btn-outline-light bouton_recherche">
                </form>

                <!--le menu-->
                <button class="col navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="row navbar-toggler-icon"></span>
                </button>

                <div class="col collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="row navbar-nav menu" style="vertical-align:middle">
                        <li class="col nav-item page_accueil"><a class="nav-link"  href={{path('secondLife_admin_accueil')}} class="link-secondary">Accueil</a></li>
                        <li class="col nav-item page_gerer_annonces"><a class="nav-link"  href={{path('secondLife_admin_gerer_annonces')}} class="link-secondary">Annonces</a></li>
                        <li class="col nav-item page_gere_faq"><a class="nav-link"  href={{path('secondLife_admin_gerer_faq')}} class="link-secondary">FAQ</a></li>
                    </ul>
                </div>
            </nav>
        </header>

       <!--le contenu de chaque page-->
        <div class="conteneur_principal">
            {% block body %}{% endblock %}
        </div>

        <footer class="row bg-dark text-white" style="text-align:center">
            <div class="col a_propos col-xl-3 col-sm-6 col-xs-6">
                <h3 class="titre_section_footer">A propos</h3>
                <span class="qui_sommes_nous"><a href={{path('secondLife_qui_sommes_nous')}} class="link-secondary">Qui sommes-nous?</a></span>
            </div>

            <div class="col reseaux_sociaux  col-xl-3 col-sm-6 col-xs-6">
                <h3 class="titre_section_footer">Reseaux sociaux</h3>
                <div>
                    <div class="row" style="margin:10%">
                        <a href="https://www.facebook.com/" target="blank" class="facebook col"><img src="logo_facebook.png" alt="logo_facebook"></a><br>
                        <a href="https://www.instagram.com" target="blank" class="instagram col"><img src="logo_instagram.png" alt="logo_instagram"></a><br>
                    </div>
                    <div class="row" style="margin:10%">
                        <a href="https://www.twitter.com" target="blank" class="twitter col"><img src="logo_twitter.png" alt="logo_twitter"></a><br>
                        <a href="https://www.linkedin.com" target="blank" class="linkedin col"><img src="logo_linkedin.png" alt="logo_linkedin"></a><br>
                    </div>
                </div>
            </div>

            <div class="col informations_legales  col-xl-3 col-sm-6 col-xs-6">
                <h3 class="titre_section_footer">Informations légales</h3>
                <div>
                    <span class="mentions_legales"><a href={{path('secondLife_mentions_legales')}} class="link-secondary">Mentions légales</a></span><br>
                    <span class="conditions_generales_utilisation"><a href={{path('secondLife_conditions_generales_utilisation')}} class="link-secondary">Conditions générales d'utilisation</a></span>
                </div>
            </div>

            <div class="col applications_mobiles  col-xl-3 col-sm-6 col-xs-6">
                <h3 class="titre_section_footer">Applications mobiles</h3>
                <div>
                    <div class="row"  style="margin:10%">
                        <a href="https://www.playstore.com" target="blank" class="lien_application"><img src="image_googleplay.png" alt="image_playstore"></a><br>
                    </div>
                    <div class="row"  style="margin:10%">
                        <a href="https://www.appstore.com" target="blank" class="lien_application"><img src="image_appstore.png" alt="image_appstore"></a>
                    </div>
                </div>
            </div>
        </footer>
       {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
