{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <h1>{{titre_page}}</h1>
    
    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_creer_sous_categorie') }}">Créer une sous-catégorie</a> 
    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_gerer_categories') }}">Afficher les catégories</a>


    <p class="nb_sous_categorie">{{nb_sous_categorie}} sous-categories</p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nom sous-categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for souscategorie in categorie.sousCategorie %}
            <tr>
                <td>{{ souscategorie.nomSousCategorie }}</td>
                <td>
                    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_afficher_annonces_par_sous_categorie', {'id': souscategorie.id}) }}">Afficher les annonces de la sous-categorie {{souscategorie.nomSousCategorie}}</a>
                    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_modifier_sous_categorie', {'id': souscategorie.id}) }}">Modifier la sous-categorie {{souscategorie.nomSousCategorie}}</a>
                    {{ include('sous_categorie/admin/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" style="margin-top:10%; text-align:center">Il n y a aucune sous-catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-outline-success" href="{{ path('secondLife_admin_creer_sous_categorie') }}">Créer une sous-catégorie</a>
{% endblock %}
