{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <h1>{{titre_page}}</h1>

    {{ include('categorie/admin/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('secondLife_admin_gerer_categories') }}">Afficher toutes les catégories</a>

    {#{{ include('categorie/admin/_delete_form.html.twig') }}#}
{% endblock %}
