{% extends 'base_admin.html.twig' %}

{% block title %}{{titre_page}}{% endblock %}

{% block body %}
    <h1>{% if etat %} Modifier une  rubrique de la FAQ
        {% else %} Ajouter une rubrique à la FAQ
        {% endif %}
    </h1>

    {{ include('faq/admin/_form.html.twig') }}

    <a href="{{ path('secondLife_admin_gerer_faq') }}">Afficher toutes les rubriques</a>
    
    {% if etat %}
    {{ include('faq/admin/_delete_form.html.twig') }}
    {% endif %}


{#    
    {{form_start(formulaire)}}
        {{form_row(formulaire)}}
        <button class="btn-sm btn-outline-sucess" type="submit">
        {% if etat %} Modifier la rubrique
        {% else %} Ajouter la rubrique
        {% endif %}
        </button>
    {{form_end(formulaire)}}
  #}  

{% endblock %}